.header__button a {
  color: $white !important;
}

.header__button:hover a {
  color: $gold;
  text-decoration: none;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.masthead {
  height: 71vh;
  min-height: 500px;
  background-image: url("../images/header-background-min.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  letter-spacing: 0.24em;
  color: $white;
}

.header__tagline {
  letter-spacing: 0.24em;
  color: $white;
  line-height: 1.3;
  font-family: minion-pro-display, serif;
}

.header__button {
  letter-spacing: 0.24em;
  font-size: 1.2em;
  background: none;
  border: 2px solid $white;
  padding: 5px 10px;
  margin-top: 1.887em;
  font-weight: 300;
  transition: background-color 0.5s ease;
}

.header__button:hover {
  border-color: $off-white;
  background-color: $off-white;
  cursor: pointer;
}

@media (min-width: 767px) {
  .header__tagline {
    font-size: 3em;
  }
}

@media (max-width: 767px) {
  .header__tagline {
    font-size: 1.8em;
  }
}

.overlay-text {
  font-size: 1.2em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: $black;
  background-clip: content-box;
  padding: 0 20px !important;
}

.container-img:hover .overlay {
  opacity: 0.8;
}

.icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
