/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Colors */

$blue: #29354d;

$gold: #a76432;

$off-white: #d8d7d2;

$black: #1f2024;

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
