.intro {
  padding: 150px 15px;
}

.intro__header-text {
  color: $blue;
  font-weight: bold;
  padding: 0 15px;
}

.intro__sub-header {
  color: $gold;
  line-height: 1.29;
  font-size: 1.4em;
  font-family: minion-pro-display, serif;
  padding: 40px 15px 0 15px;
}

.intro__description-col {
  font-size: 1.3em;
}

.intro__description {
  margin-top: 4.375em;
}

/** XLS VIDEO EMBED */

.xls-video {
  margin-top: 4em;
}

.xls-video__embed {
  border: 5px solid $gold !important;
}

.circle-video {
  height: 15px;
  width: 15px;
  border: 2px solid $gold;
  border-radius: 50%;
  display: block;
  margin-top: 0 !important;
  background-color: $gold;
}

.vl {
  border-left: 2px solid $gold;
  height: 15em;
  padding-top: 20px;
}

/** TESTIMONIALS */

.testimonial {
  background-color: $blue;
  padding: 40px;
}

.testimonail__quote-frame {
  border: 2px solid $gold;
  padding-top: 100px;
  padding-bottom: 100px;
}

.circle {
  width: 21px;
  height: 21px;
  border: 2px solid $gold;
  border-radius: 50%;
  margin-bottom: 1.875em;
}

.testimonail__quote-text {
  color: $white;
  font-size: 1.4em;
}

.testimonail__quote-author {
  border: 2px solid $gold;
  border-top: none;
  padding: 40px;
  font-size: 1.4em;
}

.testimonail__quote-author-description {
  display: block;
  font-size: 1em;
  color: $white;
  font-weight: 300;
}

.testimonail__quote-author-text {
  color: $white;
  font-size: 1em;
  font-family: minion-pro-display, serif;
}

/** STAT BOXES */

.stat__boxes {
  background-color: $off-white;
  padding: 40px 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat__wood {
  background-image: url("../images/wood-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stat__boxes-icon {
  margin: auto;
  display: block;
  padding-top: 3.75em;
  height: 140px;
}

.stat__boxes-title {
  margin: 1em 0 0.875em 0;
  font-size: 1.4em;
  font-family: minion-pro-display, serif;
  text-transform: uppercase;
  font-weight: bold;
}

.stat__boxes-description {
  margin-bottom: 60px;
  font-size: 1.2em;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/** RECENT TRANSACTIONS */

.transactions__header {
  padding: 130px 15px;
}

.transactions__header-underline {
  width: 2.5em;
  background-color: $gold;
  height: 1px;
}

.transactions__header-title {
  padding: 40px 0;
  font-family: minion-pro-display, serif;
}

.transactions__description {
  font-size: 1.2em;
  padding: 60px 0;
}

.transactions__button {
  border: 2px solid $gold;
  font-family: minion-pro-display, serif;
  font-size: 1.4em;
  padding: 10px 20px;
  font-weight: bold;
  color: $gold;
  margin-top: 1em;
  transition: background-color 0.5s ease;
}

.transactions__button:hover {
  border-color: $off-white;
  background-color: $off-white;
  color: $gold;
  cursor: pointer;
}

.embed-responsive {
  scroll-behavior: smooth;
}

.toombstone {
  padding: 5.313em 0;

  .row {
    .col-md-3 {
      img {
        width: 100%;
      }
    }
  }
}

.socials {
  a {
    i {
      color: $gold;
      font-size: 1.6em;
      margin: 30px 5px 0 0;
    }

    i:hover {
      cursor: pointer;
    }
  }
}

/** MEDIA QUERIES */
@media (min-width: 767px) {
  .border-1 {
    border: 2px solid $gold;
    border-top: none;
    border-left: none;
  }

  .border-btm {
    border-bottom: 2px solid $gold;
  }

  .border-rht {
    border-right: 2px solid $gold;
  }

  .intro__header-text {
    font-size: 5em;
  }

  .transactions__header-title {
    font-size: 3em;
  }

  .toombstone {
    padding: 5.313em 0;

    .row {
      .col-md-3 {
        padding: 0 20px !important;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .intro__header-text {
    font-size: 2.5em;
  }

  .transactions__header-title {
    font-size: 2.5em;
  }

  .toombstone__img {
    display: block !important;
    margin: auto !important;
    padding: 15px;
  }

  .mt-6 {
    margin: 0;
  }

  .footer__links {
    margin-top: 25px;
  }

  .footer__contact {
    margin-top: 25px;
  }
}
